Source: libhdb++ELK
Priority: optional
Maintainer: Matteo Di Carlo <matteodicarlo@gmail.com>
Build-Depends: libhdb++6-dev,
               libtango-dev,
               libomnithread3-dev, 
               libomniorb4-dev,               
               default-libmysqlclient-dev,
               dh-exec, 
               debhelper (>= 9.0.0), 
               make
Standards-Version: 3.9.3
Section: misc
Homepage: https://github.com/[TO_BE_FILLED]/libhdbpp-ELK

